
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('https://cdn.wildrocket.io/media/JWKzdonTttBD2UGQ0R28nLSLX4I0pYdADrV1FnU6.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  

  .input-field {
    width: calc(100% - 110px);
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #007bff;
  }
  
  /* Button styles */
  .add-button {
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #218838;
  }
  
  .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  .edit-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover {
    background-color: #0069d9;
  }
  
  .confirm-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .confirm-button:hover {
    background-color: #218838;
  }
  
  /* No tasks message */
  .no-todos {
    text-align: center;
    color: #888;
    font-size: 18px;
    margin-top: 20px;
  }
  
  /* Todo list styles */
  .todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .todo-item {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  /* Edit container styles */
  .edit-container {
    display: flex;
    align-items: center;
  }
  
  .edit-input {
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .edit-input:focus {
    border-color: #007bff;
  }
  